.App {
  font-family: sans-serif;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}

/*******************************
  Container responsive
********************************/
@media screen and (max-width: 1000px) {
  .container{
    margin-right: 35px;
  }
}